Repository Mire0726/kininaru_clip, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, frontend, backend

fix/ecommendsテーブルのidea_idにON DELETEを設定 (#43)
  mysql/mysql_init/init.sql
Labels: none

fix:
  frontend/src/app/group/[id]/ideas/[ideaId]/page.tsx
Labels: frontend

fix: (#44)
  frontend/src/app/group/[id]/ideas/[ideaId]/page.tsx
Labels: frontend

fix/短いURLの時のみ、長いURLに変換するように実装変更
  ai_engine/src/maps/places.py
Labels: none

fix/httpClietのタイムアウト設定を変更
  backend/app/usecase/idea.go
  backend/infrastructure/pyclient/client.go
Labels: backend

fix: deploy用のコンテナ設計に
  backend/Dockerfile
Labels: backend

fix: deploy用のコンテナに
  frontend/Dockerfile
Labels: frontend

fix
  frontend/Dockerfile
Labels: frontend

fix
  frontend/Dockerfile
Labels: frontend

最初に戻すfix
  frontend/Dockerfile
Labels: frontend

fix
  backend/cmd/server/server.go
Labels: backend

fix
  frontend/src/constants/config.tsx
Labels: frontend

backendURLの確認
  backend/cmd/server/server.go
  frontend/src/hooks/usePostEvent.ts
Labels: frontend, backend

configの設定
  frontend/src/constants/config.tsx
Labels: frontend

docker修正
  frontend/Dockerfile
Labels: frontend

Fix/レコメンドロジック周りの修正 (#45)
  ai_engine/main.py
  ai_engine/src/maps/places.py
  ai_engine/src/services/recommend.py
  ai_engine/src/services/summary.py
  ai_engine/src/utils/display.py
  ai_engine/src/utils/log.py
  backend/app/usecase/idea.go
  backend/infrastructure/pyclient/client.go
Labels: backend

feat
  frontend/README.md
  frontend/src/app/group/[id]/ideas/[ideaId]/page.tsx
Labels: frontend

.github/labeler.yml:

CI/CD:
  - ".github/**/*"

frontend:
  - "frontend/**/*"

backend:
  - "backend/**/*"
