Repository Mire0726/kininaru_clip, changes with the labels that .github/labeler.yml gives for each.
All labels: CI/CD, frontend, backend

mod
  .github/workflows/vercel-deploy.yaml
Labels: CI/CD

mod
  .github/workflows/vercel-deploy.yaml
Labels: CI/CD

feat: frontendのCI構築 (#33)
  .github/workflows/vercel-deploy.yaml
Labels: CI/CD

mod
  .github/workflows/vercel-deploy.yaml
Labels: CI/CD

Feat/ci frontend (#34)
  .github/workflows/vercel-deploy.yaml
Labels: CI/CD

refactor/ruffによるフォーマット
  ai_engine/src/maps/places.py
Labels: none

feat/RRFによるランキングの実装
  ai_engine/src/utils/__init__.py
  ai_engine/src/utils/ranking.py
Labels: none

feat: favicon設定
  frontend/src/app/favicon.ico
Labels: frontend

fix: favicon設定
  frontend/src/app/android-chrome-192x192.png
  frontend/src/app/android-chrome-512x512.png
  frontend/src/app/apple-touch-icon.png
  frontend/src/app/favicon-16x16.png
  frontend/src/app/favicon-32x32.png
  frontend/src/app/favicon.ico
  frontend/src/app/site.webmanifest
Labels: frontend

feat/レコメンドロジックの実装。urlの取得だけできてない。
  ai_engine/main.py
  ai_engine/src/maps/places.py
  ai_engine/src/schema/map.py
  ai_engine/src/schema/recommend.py
  ai_engine/src/services/recommend.py
  ai_engine/src/services/summary.py
Labels: none

feat/レコメンドロジックの返り値にurlを入れられるようにした。
  ai_engine/src/maps/places.py
  ai_engine/src/schema/recommend.py
  ai_engine/src/services/recommend.py
Labels: none

refactor
  frontend/src/app/group/[id]/ideas/[ideaId]/ideaCard.tsx
  frontend/src/app/group/[id]/ideas/[ideaId]/page.tsx
Labels: frontend

Feat/レコメンドロジックの実装 (#36)
  ai_engine/main.py
  ai_engine/src/maps/places.py
  ai_engine/src/schema/map.py
  ai_engine/src/schema/recommend.py
  ai_engine/src/services/recommend.py
  ai_engine/src/services/summary.py
  ai_engine/src/utils/__init__.py
  ai_engine/src/utils/ranking.py
Labels: none

fix/サマリーが返ってこなかった時のハンドリング
  backend/app/usecase/idea.go
Labels: backend

mod
  frontend/src/app/group/[id]/ideas/[ideaId]/ideaCard.tsx
Labels: frontend

fix/サマリーが返ってこなかった時のハンドリング (#38)
  backend/app/usecase/idea.go
Labels: backend

feat:本番環境のDSN設定
  backend/infrastructure/database.go
Labels: backend

fix: エラー
  frontend/eslint.config.mjs
Labels: frontend

fix/idea周りの構造体のurlをポインタに変更
  backend/domain/model/idea.go
Labels: backend

feat/アイデアIDを使ってレコメンドアイテムを取得
  backend/app/handler/idea.go
  backend/app/usecase/idea.go
  backend/cmd/server/server.go
  backend/domain/model/recommend.go
  backend/domain/repository/idea.go
  backend/infrastructure/datastore/datastoresql/idea/idea.go
Labels: backend

fix:DNSまわりの環境変数の設定を修正
  backend/infrastructure/database.go
Labels: backend

fix: anyじゃなくする
  frontend/src/app/group/[id]/ideas/[ideaId]/ideaCard.tsx
  frontend/src/app/group/[id]/ideas/[ideaId]/page.tsx
  frontend/src/components/ErrorMessage.tsx
  frontend/src/components/LoadingSpinner.tsx
Labels: frontend

fix/デバッグ用のprintの消し忘れ
  backend/infrastructure/datastore/datastoresql/idea/idea.go
Labels: backend

Feat/レコメンド結果を取得できるエンドポイントの作成 (#39)
  backend/app/handler/idea.go
  backend/app/usecase/idea.go
  backend/cmd/server/server.go
  backend/domain/model/idea.go
  backend/domain/model/recommend.go
  backend/domain/repository/idea.go
  backend/infrastructure/datastore/datastoresql/idea/idea.go
Labels: backend

fix:ヘルスチェックの設定
  backend/cmd/server/server.go
  backend/infrastructure/database.go
Labels: backend

feat/ai engineへのリクエスト処理の実装
  backend/infrastructure/pyclient/client.go
  backend/infrastructure/pyclient/schema.go
Labels: backend

feat/goroutineを使用して、レコメンドによる推論を走らせる実装
  backend/app/usecase/idea.go
  backend/domain/repository/idea.go
  backend/infrastructure/datastore/datastoresql/idea/idea.go
Labels: backend

Feat/バックエンドとAI Engineの接続 (#40)
  backend/app/usecase/idea.go
  backend/domain/repository/idea.go
  backend/infrastructure/datastore/datastoresql/idea/idea.go
  backend/infrastructure/pyclient/client.go
  backend/infrastructure/pyclient/schema.go
Labels: backend

deat: 一旦繋ぎ込み完了
  frontend/src/app/group/[id]/ideas/[ideaId]/page.tsx
  frontend/src/app/group/[id]/ideas/[ideaId]/recommendSection.tsx
  frontend/src/constants/type.tsx
  frontend/src/hooks/useFetchRecommend.ts
Labels: frontend

mod
  frontend/src/app/group/[id]/ideas/[ideaId]/recommendSection.tsx
Labels: frontend

Feat/get recommend frontend (#41)
  frontend/src/app/group/[id]/ideas/[ideaId]/page.tsx
  frontend/src/app/group/[id]/ideas/[ideaId]/recommendSection.tsx
  frontend/src/constants/type.tsx
  frontend/src/hooks/useFetchRecommend.ts
Labels: frontend

fix/レコメンドデータの取得のリクエスト時のコンテキストの時間を延長
  backend/app/usecase/idea.go
Labels: backend

feat: corsへんこう
  backend/cmd/server/server.go
  backend/infrastructure/database.go
Labels: backend

feat/評価の星の表示をプログラム側で制御するように変更
  ai_engine/src/services/summary.py
  ai_engine/src/utils/display.py
Labels: none

feat/loggingをimportできるようにした。
  ai_engine/src/utils/log.py
Labels: none

fix/レコメンド結果が空だった場合、探索範囲を広げて再度推論するように変更。
  ai_engine/main.py
  ai_engine/src/services/recommend.py
Labels: none

fix
  frontend/src/hooks/useDeleteIdea.ts
Labels: frontend

fix (#42)
  frontend/src/hooks/useDeleteIdea.ts
Labels: frontend

fix/短いURLを使用して、summaryを作れるようにした。
  ai_engine/src/maps/places.py
Labels: none

fix/ecommendsテーブルのidea_idにON DELETEを設定
  mysql/mysql_init/init.sql
Labels: none

.github/labeler.yml:

CI/CD:
  - ".github/**/*"

frontend:
  - "frontend/**/*"

backend:
  - "backend/**/*"
